@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@source "src/jd_helper/templates/*.html";

@theme {
  --font-sans: "Fira Sans", sans-serif;
  --font-mono: "Fira Mono", monospace;
}

@plugin "daisyui/theme" {
  name: "reinoutlight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #d66d00;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #7290d5;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "reinoutdark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: #d66d00;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #7290d5;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.prose-vanrees {
    @apply prose-headings:text-primary prose-a:text-secondary prose-a:link
           prose-headings:mb-2 prose-li:mb-0
           prose-dt:mt-0 prose-p:mt-0 prose-dd:mt-0 prose-li:mt-0 prose-dl:mt-0;
}

/* General formatting */
pre { max-width: 90vw };
a {
  @apply link text-secondary;
}

/* Breadcrumbs */
#breadcrumbs {
  @apply text-xl pt-2 pb-2 mb-4;
  @apply border-b-primary border-b-4;
}
#breadcrumbs a,
#breadcrumbs span {
  @apply inline-block;
  @apply p-4 first:pl-0;
}
#breadcrumbs span.breadcrumb-separator {
  @apply p-0;
}

/* TOC */
#toc a.selected {
  @apply text-secondary-content bg-secondary;
}
