{% extends "base2.html" %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="column col-4">

        <h2>Documenten</h2>
        <ul>
          {% for document in documents %}
            <li>{{ document }}</li>
          {% endfor %}
        </ul>

      </div>
      <div class="column col-8">

        <h2>Info</h2>
        {% if locations %}
          <h3>Locaties</h3>
          <ul>
            {% for location in locations %}
              <li>{{ location }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if links %}
          <h3>Links</h3>
          <ul>
            {% for link in links %}
              <li>{{ link }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <h2>Inhoud</h2>
        <ul>
          {% for file_or_folder in files_and_folders %}
            <li>{{ file_or_folder }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
{% endblock %}
