{% extends "base.html" %}


{% block main %}
  {% if page.index_document %}
    {{ page.index_document.rendered }}
  {% else %}
    <h1>{{ page.number }} {{ page.title }}</h1>
  {% endif %}

  {% if page.locations %}
    <h2>Locaties</h2>
    <ul>
      {% for location in page.locations %}
        <li>{{ location.link }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if page.links %}
    <h2>Links</h2>
    <ul>
      {% for link in page.links %}
        <li>{{ link.link }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if folders %}
    <h2>Folders</h2>
    <ul>
      {% for folder in folders %}
        <li>{{ folder.link }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if files %}
    <h2>Files</h2>
    <ul>
      {% for file in files %}
        <li>{{ file.link }}</li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
